<!DOCTYPE html>
<html>
<head>
    <title>Ajouter BD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    <section id="header-section" class="row">

    </section>

    <section id="content-section" class="row">
        <div class="row col-lg-offset-3">
            <button type="button" id="backBtn" class="btn btn-primary col-lg-2"><span class="glyphicon glyphicon-arrow-left"></span></button>
        </div>
        <div class="col-lg-offset-3 col-lg-6 row">

            <form id="add-comic-form">
                <div class="form-group">
                    <label for="collection" class="control-label">Collection</label>
                    <input type="text" name="collection" class="form-control" placeholder="le petit spirou">
                </div>
                <div class="form-group">
                    <label for="title" class="control-label">Titre</label>
                    <input type="text" name="title" class="form-control" placeholder="tout le monde te regarde">
                </div>
                <div class="form-group">
                    <label for="number" class="control-label">Numéro</label>
                    <input type="text" name="number" class="form-control" maxlength="10" size="2" placeholder="17">
                </div>
                <div class="form-group">
                    <label for="publishingHouse" class="control-label">Maison d'édition</label>
                    <input type="text" name="publishingHouse" class="form-control" placeholder="dupuis">
                </div>
                <div class="form-group">
                    <label for="authors" class="control-label">Auteurs</label>
                    <input type="text" name="authors" class="form-control" placeholder="tome janry">
                </div>
            </form>

            <button id="add-comic-form-btn" type="button" class="btn btn-success">Ajouter</button>

        </div>
    </section>

    <section id="footer-section" class="row">

    </section>

    <script src="/public/javascripts/socket.io.js"></script>
    <script src="/public/javascripts/connectSocket.js"></script>
    <script src="/public/javascripts/addComic.js"></script>

</body>
</html>