<!DOCTYPE html>
<html>
<head>
    <title>Ajouter BD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    <section id="header-section">

    </section>

    <section id="content-section">
        <form id="add-comic-form">
            <div class="form-group">
                <label for="collection" class="control-label">Collection* : </label>
                <input type="text" name="collection" placeholder="le petit spirou">
            </div>
            <div class="form-group">
                <label for="title" class="control-label">Titre* : </label>
                <input type="text" name="title" placeholder="tout le monde te regarde">
            </div>
            <div class="form-group">
                <label for="number" class="control-label">Numéro* : </label>
                <input type="text" name="number" maxlength="10" size="2" placeholder="17">
            </div>
            <div class="form-group">
                <label for="publishingHouse" class="control-label">Maison d'édition : </label>
                <input type="text" name="publishingHouse" placeholder="dupuis">
            </div>
            <div class="form-group">
                <label for="authors" class="control-label">Auteurs :</label>
                <input type="text" name="authors" placeholder="tome janry">
            </div>
        </form>

        <button id="add-comic-form-btn" class="btn btn-success">Ajouter</button>

    </section>

    <section id="footer-section">

    </section>

    <script src="/public/javascripts/socket.io.js"></script>
    <script src="/public/javascripts/library.js"></script>

</body>
</html>