<!DOCTYPE html>
<html>
  <head>
    <title>Comic Library</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenue</h1>
    <div id="lastAdd">
      <p>Derniers ajouts :</p>
      <div id="lastComic"></div>
    </div>

  <script src="/public/javascripts/library.js"></script>

  </body>
</html>
