<!DOCTYPE html>
<html>
  <head>
    <title>Comic Library</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body class="full">

    <section id="header-section" class="row">
      <div id="header-div">

      </div>
    </section>

    <section id="content-section" class="row">
      <div id="content-div">

        <div class="">
          <div id="add-comic-div" class="row">
            <button id="add-comic-btn" type="button" class="btn btn-lg btn-success" style="display:block; margin:auto;"><span class="glyphicon glyphicon-plus"></span>Ajouter une BD</button>
          </div>
          <div id="show-comic-div" class="row">
            <button id="show-comic-btn" type="button" class="btn btn-lg btn-primary" style="display:block; margin:auto;"><span class="glyphicon glyphicon-plus"></span>Voir la bibliothèque</button>
          </div>
        </div>

      </div>
    </section>

    <section id="lastAdded-section" class="row">
      <div>

        <div class="col-lg-offset-3 col-lg-6 col-ls-12">
          <div id="last-comic-div" style="color: #ffffff; background-color: #924E24;">
            <p><b><h2>Derniers ajouts</h2></b></p>
            <table id="last-comic-table" class="table">
              <thead>
                <tr>
                  <th><b>Collection</b></th>
                  <th><b>Titre</b></th>
                  <th><b>Numéro</b></th>
                  <th><b>Maison d'édition</b></th>
                  <th><b>Date d'ajout</b></th>
                  <th><b>Auteurs</b></th>
                </tr>
              </thead>
              <tbody id="last-comic-tbody">

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </section>

    <section id="footer-section" class="row" style="background-color: black">
      <div id="footer-div">
        <p>© 2016 VictorienDerasse. All Rights Reserved</p>
      </div>
    </section>

    <script src="/public/javascripts/socket.io.js"></script>
    <script src="/public/javascripts/hostConfig.js"></script>
    <script src="/public/javascripts/connectSocket.js"></script>
    <script src="/public/javascripts/index.js"></script>

  </body>
</html>
