<!DOCTYPE html>
<html>
  <head>
    <title>Comic Library</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>

    <section id="header-section" class="row">
      <div id="header-div">

      </div>
    </section>

    <section id="content-section" class="row">
      <div id="content-div">

        <div class="col-lg-offset-2 col-lg-3">
          <div id="add-comic-div" class="row">
            <button id="add-comic-btn" type="button" class="btn btn-lg btn-success">Ajouter une BD</button>
          </div>
          <div id="show-comic-div" class="row">
            <button id="show-comic-btn" type="button" class="btn btn-lg btn-primary">Voir la bibliothèque</button>
          </div>
        </div>

        <div class="col-lg-offset-2 col-lg-3">
          <div id="last-comic-div">
            <p><b>Derniers ajouts</b></p>
            <table id="last-comic-table"></table>
          </div>
        </div>

      </div>
    </section>

    <section id="footer-section" class="row">
      <div id="footer-div">

      </div>
    </section>

    <script src="/public/javascripts/socket.io.js"></script>
    <script src="/public/javascripts/library.js"></script>
    <script src="/public/javascripts/index.js"></script>

  </body>
</html>
