<!DOCTYPE html>
<html>
<head>
    <title>Ajouter BD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<section id="header" class="row">

</section>

<section id="content" class="row">

    <div id="search" class="col-lg-offset-2 col-lg-8">
        <button type="button" id="backBtn" class="btn btn-primary col-lg-2"><span class="glyphicon glyphicon-arrow-left"></span></button>
        <form id="search-form" class="col-lg-offset-2 col-lg-6" onsubmit="getSearch(); return false;">
            <label for="search">Rechercher une bande dessinée : </label>
            <input type="text" name="mySearch" autofocus placeholder="spirou">
            <button type="button" id="search-btn" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
        </form>
    </div>

    <div id="listComic" class="table-responsive col-lg-offset-2 col-lg-8">
        <table id="list-comic-table" class=" table table-hover table-striped">
            <thead>
                <tr>
                    <th><b>Collection</b></th>
                    <th><b>Titre</b></th>
                    <th><b>Numéro</b></th>
                    <th><b>Maison d'édition</b></th>
                    <th><b>Date d'ajout</b></th>
                    <th><b>Auteurs</b></th>
                </tr>
            </thead>
            <tbody id="list-comic-tbody" class="table-hover">

            </tbody>
        </table>
    </div>

</section>

<section id="footer" class="row">

</section>

<script src="/public/javascripts/socket.io.js"></script>
<script src="/public/javascripts/connectSocket.js"></script>
<script src="/public/javascripts/showComic.js"></script>

</body>
</html>